[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
bcrypt = "==4.0.1"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
google-genai = "*"
openai = "*"
pydantic = "*"

[dev-packages]

[requires]
